@use "../abstracts/variables" as *;
@use "../base/fonts" as *;

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.letter {
  font-family: $font-primary;
  transform-origin: center;
  font-size: $xxxlarge;
  font-weight: $bold;
  color: $secondary-color;
}
