@use "../abstracts/variables" as *;
@use "../base/fonts" as *;

.budget-wrapper {
  height: auto;
  width: 100%;
  margin-top: 2rem;
}

.project-budget {
  width: 100%;
  margin-bottom: 2rem;

  .budget-info {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    font-size: $xlarge;
    font-weight: $regular;
    line-height: 1;
  }
  p {
    font-size: $medium;
    font-weight: $thin;
    line-height: 2;
  }

  .progress-procent {
    font-size: $xxxlarge;
    font-weight: $thin;
    white-space: nowrap;
    line-height: 1;
  }
}

.progress-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 2rem;

  // Progressbar
  .progress-bar {
    flex: 1;
    height: 10px;
    background: #333;
    border-radius: 6px;
    overflow: hidden;
  }

  .progress-fill {
    height: 100%;
    border-radius: 5px;
    transition:
      width 0.6s ease-out,
      background-color 0.3s ease;
  }
}
