@use "../abstracts/variables" as *;
@use "../base/fonts" as *;

.budget-wrapper {
  height: 100%;
  width: 100%;
  margin: $spacing-lg 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .project-budget {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    margin: $spacing-md 0;

    .budget-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: $spacing-md;

      .client-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h2 {
          font-size: $medium;
          font-weight: $regular;
          line-height: 1;
          margin-bottom: $spacing-sm;
        }
        p {
          font-size: $small;
          color: $secondary-text-color;
          text-transform: uppercase;
          line-height: 1;
        }
      }

      .progress-procent {
        font-size: $xxxlarge;
        font-weight: $thin;
        white-space: nowrap;
        color: $secondary-color;

        display: inline-block;
        line-height: 0.6;
      }
    }

    // Progressbar
    .progress-wrapper {
      .progress-bar {
        height: 10px;
        background: #333;
        border-radius: 6px;
        overflow: hidden;
        margin: 0;
      }

      .progress-fill {
        height: 100%;
        border-radius: 5px;
        transition:
          width 0.6s ease-out,
          background-color 0.3s ease;
      }
    }
  }
}
