@use "../abstracts/variables" as *;
@use "../base/fonts" as *;

/* ===============================
   Base Card Styles
   =============================== */
.card {
  background: linear-gradient(135deg, #2a2a2a 0%, #1f1f1f 100%);
  border-radius: 20px;
  padding: 30px;
}

/* ===============================
     Card Header (common for both)
     =============================== */

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $xxlarge;
  font-weight: $bold;
  color: $text-color;
  flex-shrink: 0;
  position: relative;
  padding: 4px; // Border thickness

  // Avatars without image
  &:not(.has-img) {
    // Inactive state
    &.inactive {
      background: rgba(255, 255, 255, 0.2);
    }
    // Active state
    &.active {
      background: linear-gradient(
        45deg,
        #00ff87 0%,
        #11df0e 15%,
        #0dff6f 30%,
        #60efff 45%,
        #0dff6f 60%,
        #11df0e 75%,
        #00ff87 90%,
        #11df0e 100%
      );
      background-size: 400% 400%;
      animation: gradientRotate 6s ease infinite;
      box-shadow:
      // glow
        0 0 8px rgba(17, 223, 14, 0.15),
        0 0 15px rgba(13, 255, 111, 0.1);
    }

    // Black gap layer (same for both)
    &:not(.has-img)::before {
      content: "";
      position: absolute;
      inset: 2px;
      background: #292929;
      border-radius: 50%;
      z-index: 0;
    }

    // Inner wrapper for initials with black background
    .avatar-inner {
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      background-color: $primary-color;
      color: $text-color;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $xxlarge;
      font-weight: $bold;
      position: relative;
      z-index: 1;
    }
  }

  // avatars with image
  // inactive state
  &.has-img.inactive {
    background: rgba(255, 255, 255, 0.2);
  }

  // active state
  &.has-img.active {
    background: linear-gradient(
      45deg,
      #00ff87 0%,
      #11df0e 15%,
      #0dff6f 30%,
      #60efff 45%,
      #0dff6f 60%,
      #11df0e 75%,
      #00ff87 90%,
      #11df0e 100%
    );
    background-size: 400% 400%;
    animation: gradientRotate 6s ease infinite;
    //glow
    box-shadow:
      0 0 8px rgba(17, 223, 14, 0.15),
      0 0 15px rgba(13, 255, 111, 0.1);
  }

  &.has-img::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #292929;
    border-radius: 50%;
    z-index: 0;
  }

  // Inner wrapper for image with black background
  .avatar-image,
  img {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    object-fit: cover;
    border-radius: 50%;

    position: relative;
    z-index: 1;
  }
}

// gradient aniamtion
@keyframes gradientRotate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
