@use "../abstracts/variables" as *;
@use "../base/fonts" as *;

/* ===============================
     Expanded Card Variant
     =============================== */

/* When card is expanded and no image available*/
.card-expanded .avatar:not(.has-img) {
  .avatar-inner {
    font-size: $xxlarge;
    background-color: $text-color;
    color: $primary-color;
  }
}

/* CARD HEADER */
.card-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;

  .avatar-wrapper {
    .avatar {
      width: 140px;
      height: 140px;
    }
  }

  .employee-info {
    .employee-name {
      font-size: $large;
      font-weight: $regular;
      color: $secondary-color;
    }

    .employee-role {
      font-size: $small;
      color: $secondary-text-color;
      text-transform: uppercase;
    }
  }
}

/* CARD BODY */
.card-body {
  margin-top: $spacing-lg;
  .fun-fact-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: $spacing-lg;
    color: $secondary-color;
    gap: $spacing-lg;

    .fun-fact-label {
      font-size: $small;
      text-transform: uppercase;
      letter-spacing: 1px;
      white-space: nowrap;
    }

    .fun-fact-value {
      font-size: $small;
      color: $secondary-color;
      text-align: right;
      letter-spacing: 1px;
      font-weight: $regular;
      max-width: 60%;
    }
  }

  .project-details {
    border-top: 1px solid gray;

    .card-details {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      letter-spacing: 1px;
    }

    .detail-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:first-child {
        margin: $spacing-lg 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    .detail-label {
      font-size: $small;
      color: $secondary-color;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .detail-value {
      font-size: $small;
      font-weight: $regular;
      color: $secondary-color;
      font-weight: $regular;
    }
  }
}

/* ===============================
  Toggle area Progress and time badge
  =============================== */

.time-tracking-area {
  margin-top: $spacing-sm;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .detail-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      margin: $spacing-md 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .detail-label {
    font-size: $small;
    color: $secondary-color;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .detail-value {
    font-size: 1.2rem;
    font-weight: $regular;
    color: $secondary-color;

    &.badge {
      background: rgba(255, 255, 255, 0.1);
      padding: 0.5rem 1rem;
      border-radius: 8px;
    }
  }
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  .progress-fill {
    height: 100%;
    background: #c4ff61;
    border-radius: 10px;
    transition: width 0.3s ease;
  }
}
