@use "../abstracts/variables" as *;
@use "../base/fonts" as *;

/* ===============================
     Expanded Card Variant
     =============================== */

/* When card is expanded and no image available*/
.card-expanded .avatar:not(.has-img) {
  .avatar-inner {
    font-size: $xxlarge;
    background-color: $text-color;
    color: $primary-color;
  }
}

.card-expanded {
  background: linear-gradient(135deg, #2a2a2a 0%, #1f1f1f 100%);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 1rem 0;
  z-index: 1000;

  /* CARD HEADER */
  .card-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 1.5rem;

    .avatar-wrapper {
      .avatar {
        width: 140px;
        height: 140px;
      }
    }

    .employee-info {
      .employee-name {
        font-size: $xxlarge;
        font-weight: $regular;
        color: $secondary-color;
        margin-bottom: 4px;
      }

      .employee-role {
        font-size: $xlarge;
        color: $secondary-text-color;
        text-transform: uppercase;
      }
    }
  }

  /* CARD BODY */

  .fun-fact-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    color: $secondary-color;

    .fun-fact-label {
      font-size: $medium;
      text-transform: uppercase;
      letter-spacing: 1px;
      white-space: nowrap;
    }

    .fun-fact-value {
      font-size: $large;
      color: $secondary-color;
      text-align: right;
      width: 70%;
    }
  }

  .project-details {
    border-top: 1px solid gray;

    .card-details {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .detail-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:first-child {
        margin: 2rem 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    .detail-label {
      font-size: $medium;
      color: $secondary-color;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .detail-value {
      font-size: $large;
      font-weight: $regular;
      color: $secondary-color;

      &.badge {
        background: rgba(255, 255, 255, 0.1);
        padding: 6px 16px;
        border-radius: 8px;
      }
    }
  }
}

/* ===============================
  Toggle area Progress and time badge
  =============================== */

.time-tracking-area {
  margin-top: 1rem;

  .detail-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      margin: 1rem 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .detail-label {
    font-size: $medium;
    color: $secondary-text-color;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .detail-value {
    font-size: $large;
    font-weight: $regular;
    color: $secondary-color;

    &.badge {
      background: rgba(255, 255, 255, 0.1);
      padding: 6px 16px;
      border-radius: 8px;
    }
  }
}

.progress-bar {
  margin: 1rem 0;
  width: 100%;
  height: 8px;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  .progress-fill {
    height: 100%;
    background: #c4ff61;
    border-radius: 10px;
    transition: width 0.3s ease;
  }
}
