@use "../abstracts/variables" as *;
@use "../base/fonts" as *;

/* ===============================
   Simple Card Variant
   =============================== */
.card-simple {
  width: 100%;
  margin-top: $spacing-md;
  height: 160px;
  overflow: hidden;

  .card-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  // innehåller wrapper med namn och projekt + role
  .employee-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // wrapper for name and role
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .employee-name {
        font-size: $medium;
        font-weight: $regular;
        color: $secondary-color;
      }
      .employee-role {
        color: $secondary-text-color;
        font-size: $small;
        text-transform: uppercase;
      }
    }

    .project-client {
      color: $secondary-text-color;
      font-size: $small;
      text-transform: uppercase;
      height: 2rem;
    }
  }

  // Styling to kep the maintain smooth closing opacity animations from expanded to simplecard

  /* CARD BODY */

  .card-body {
    .fun-fact-area {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: $spacing-lg;
      color: $secondary-color;
      gap: $spacing-lg;

      .fun-fact-label {
        font-size: $small;
        text-transform: uppercase;
        letter-spacing: 1px;
        white-space: nowrap;
      }

      .fun-fact-value {
        font-size: $small;
        color: $secondary-color;
        letter-spacing: 1px;
        font-weight: $regular;
        max-width: 60%;
        word-break: break-word;
      }
    }

    // project details
    .project-details {
      .card-details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        letter-spacing: 1px;
      }

      .detail-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:first-child {
          margin: $spacing-lg 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }

      .detail-label {
        font-size: $small;
        color: $secondary-color;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .detail-value {
        font-size: $small;
        font-weight: $regular;
        color: $secondary-color;
        font-weight: $regular;

        &.badge {
          background: rgba(255, 255, 255, 0.1);
          padding: $spacing-sm $spacing-md;
          border-radius: 8px;
        }
      }
    }
  }
}
