@use "../abstracts/variables" as *;
@use "../base/fonts" as *;

/* ===============================
     Card Header (common for both)
 =============================== */

.avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: $bold;
  color: $text-color;
  flex-shrink: 0;
  position: relative;
  padding: 3%; // Border thickness
  will-change: transform, width, height;

  // Avatars without image
  &:not(.has-img) {
    // Inactive state
    &.inactive {
      background: rgba(255, 255, 255, 0.2);
    }
    // Active state
    &.active {
      background: linear-gradient(
        45deg,
        #00ff87 0%,
        #11df0e 15%,
        #0dff6f 30%,
        #60efff 45%,
        #0dff6f 60%,
        #11df0e 75%,
        #00ff87 90%,
        #11df0e 100%
      );
      background-size: 400% 400%;
      animation: gradientRotate 6s ease infinite;
      box-shadow:
      // glow
        0 0 8px rgba(17, 223, 14, 0.15),
        0 0 15px rgba(13, 255, 111, 0.1);
    }

    // Black gap layer (same for both)
    &:not(.has-img)::before {
      content: "";
      position: absolute;
      inset: 2%;
      background: #292929;
      border-radius: 50%;
      z-index: 0;
    }

    // Inner wrapper for initials with black background
    .avatar-inner {
      width: calc(100% - 6%);
      height: calc(100% - 6%);
      background-color: $primary-color;
      color: $text-color;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $xlarge;
      font-weight: $bold;
      position: relative;
      z-index: 1;
    }
  }

  // avatars with image
  // inactive state
  &.has-img.inactive {
    background: rgba(255, 255, 255, 0.2);
  }

  // active state
  &.has-img.active {
    background: linear-gradient(
      45deg,
      #00ff87 0%,
      #11df0e 15%,
      #0dff6f 30%,
      #60efff 45%,
      #0dff6f 60%,
      #11df0e 75%,
      #00ff87 90%,
      #11df0e 100%
    );
    background-size: 400% 400%;
    animation: gradientRotate 6s ease infinite;
    //glow
    box-shadow:
      0 0 8px rgba(17, 223, 14, 0.15),
      0 0 15px rgba(13, 255, 111, 0.1);
  }

  &.has-img::before {
    content: "";
    position: absolute;
    inset: 2%;
    background: #292929;
    border-radius: 50%;
    z-index: 0;
  }

  // Inner wrapper for image with black background
  .avatar-image,
  img {
    width: calc(100% - 6%);
    height: calc(100% - 6%);
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    will-change: transform;
  }
}

// gradient aniamtion
@keyframes gradientRotate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
