// Colors
$primary-color: black;
$secondary-color: white;
$text-color: rgb(205, 255, 69);
$secondary-text-color: #888;

//FontSize
$small: 1.5rem; // 24px
$medium: 2rem; // 32px
$large: 2.5rem; // 40px
$xlarge: 3rem; // 48px
$xxlarge: 3.5rem; // 56px
$xxxlarge: 5rem; // 64px

// FontWeight
$thin: 200;
$regular: 400;
$bold: 700;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
