// Colors
$primary-color: black;
$secondary-color: white;
$text-color: rgb(205, 255, 69);
$secondary-text-color: #888;

//FontSize
$small: 1rem; // 16px
$medium: 1.2rem; // 19.2px
$large: 1.5rem; // 24px
$xlarge: 2rem; // 32px
$xxlarge: 3rem; // 48px
$xxxlarge: 4.5rem; // 72px

// FontWeight
$thin: 200;
$regular: 400;
$bold: 700;

// Spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
