// Colors
$primary-color: black;
$secondary-color: white;
$text-color: rgb(205, 255, 69);
$secondary-text-color: #888;

//FontSize
$small: 1rem;
$medium: 1.2rem;
$large: 1.5rem;
$xlarge: 2rem;
$xxlarge: 3rem;
$xxxlarge: 4.5rem;

// FontWeight

$thin: 200;
$regular: 400;
$bold: 700;

// Spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
