@use "../abstracts/variables" as *;
@use "../base/fonts" as *;

.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;

  .left-panel {
    position: relative;
    height: 100vh;

    /* 1. Kollapszonen (där kortet lämnar zonen och kollapsar, 60% från toppen) */
    .collapse-zone {
      position: absolute;
      top: 30%; /* Kortet stänger när det passerar denna linje */
      height: 3px;
      background-color: rgba(255, 0, 0, 0.505);
      z-index: 2;
      left: 0;
      right: 0;
      pointer-events: none;
    }

    /* 2. Expansionzonen (där kortet börjar, 35% från botten) */
    .expand-zone {
      position: absolute;
      bottom: 35%; /* Kortet öppnas när det passerar denna linje */
      height: 3px;
      background-color: rgba(0, 0, 255, 0.481);
      z-index: 2;
      left: 0;
      right: 0;
      pointer-events: none;
    }
  }

  .right-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    //ProjectBudget Section
    > :first-child {
      flex: 5;
    }

    //Footer section containning logo
    > :nth-child(2) {
      flex: 1;
    }
  }
}

.dashboard > * {
  flex: 1;
}

.dashboard::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  pointer-events: none;
  background: linear-gradient(to top, rgb(0, 0, 0), transparent);
  z-index: 100;
}

.dashboard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  pointer-events: none;
  background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
  z-index: 100;
}
