@use "../abstracts/variables" as *;
@use "../base/fonts" as *;

.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-right: 4rem;
  padding-left: 2rem;

  .left-panel {
    height: 100vh;
    width: 45%;
  }
  .right-panel {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    //ProjectBudget Section
    > :first-child {
      flex: 5;
    }

    //Footer section containning logo
    > :nth-child(2) {
      flex: 1;
    }
  }

  .dashboard > * {
    flex: 1;
  }
}

.dashboard::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  pointer-events: none;
  background: linear-gradient(to top, rgb(0, 0, 0), transparent);
  z-index: 100;
}

.dashboard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  pointer-events: none;
  background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
  z-index: 100;
}
