@use "../abstracts/variables" as *;
@use "../base/fonts" as *;

.footerSection {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem 1rem 0 0;

  .tiny-text {
    color: $secondary-text-color;
  }
}
