@use "../abstracts/variables" as *;
@use "../base/fonts" as *;

.projectSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  height: auto;
  width: 100%;
  font-family: $font-primary;

  .error {
    color: $secondary-color;
    text-align: center;
    margin: auto;
  }

  .message {
    color: $secondary-color;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    font-size: $small;
  }

  h1 {
    font-size: $xxlarge;
    font-weight: $regular;
  }

  hr {
    border: none;
    height: 2px;
    background: rgba(255, 255, 255, 0.344);
    width: 100%;
    margin: $spacing-sm 0;
  }
}
