@use "../abstracts/variables" as *;
@use "../base/fonts" as *;

/* ===============================
   Staff Section Container
   =============================== */
.staffSection {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid red;

  .marque-track {
    width: 100%;
    overflow: visible;
    will-change: transform;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    /* ===============================
   Base Card Styles
   =============================== */
    .card {
      background: linear-gradient(135deg, #2a2a2a 0%, #1f1f1f 100%);
      padding: 25px 30px;
      transform-origin: center center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      will-change: height;
    }
  }

  .staffSection .error {
    font-family: $font-primary;
    color: $secondary-color;
    text-align: center;
    margin: auto;
  }
}

/*
.track-1 {
  border: 1px solid green;
}
.track-2 {
  border: 1px solid yellow;
} */
