@use "../abstracts/variables" as *;
@use "../base/fonts" as *;

/* ===============================
   Staff Section Container
   =============================== */
.staffSection {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  position: relative;
  overflow: hidden;

  .marque-track {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: visible;

    display: flex;
    flex-direction: column;
    justify-content: center;
    will-change: transform;
    backface-visibility: hidden;
    transform: translateZ(0);
    padding: 1rem 0;

    /* ===============================
   Base Card Styles
   =============================== */
    .card {
      background: linear-gradient(135deg, #2a2a2a 0%, #1f1f1f 100%);
      padding: 25px 30px;
      transform-origin: center center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 16px;
      flex-shrink: 0;
      will-change: height;
    }
    .marque-track > div:last-child {
      transform-origin: bottom;
    }
  }

  .staffSection .error {
    font-family: $font-primary;
    color: $secondary-color;
    text-align: center;
    margin: auto;
  }
}

.track-1 {
  justify-content: flex-start;
}
