@use "../abstracts/variables" as *;
@use "fonts" as *;

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  color: $secondary-color;
  background: linear-gradient(to bottom, #000000 0%, #1c1c1c 100%);
  font-family: $font-primary;
  font-size: $medium;
}
